{% load upper_case %}


<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Do More</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% with total=polls_count %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'polls:all' %}">Poll{{total|pluralize}}<span
                        class="badge badge-light btn btn-primary"> {{total}}</span></a>
            </li>
            {% endwith %}

            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">{{user.username|upper_case}}</span></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-warning" href="{% url 'accounts:login' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn btn-outline-success" href="{% url 'accounts:signup' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-success" href="{% url 'accounts:login' %}">Log In</a>
            </li>
        </ul>
        {% endif %}

    </div>
</nav>